@model JobFinder.Web.Areas.Company.Models.BussinessCardViewModels.BussinessCardViewModel
<div class="default-form">
    <h4>Edit business card</h4>
    @using (Html.BeginForm("EditCard", "BusinessCard", new { area = "Company", id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><label>Company name</label></p>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="CompanyName" placeholder="Company name" value="@Model.CompanyName">
            </div>
        </div>
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><label>About us</label></p>
            <div class="col-lg-10">
                <textarea class="form-control" name="AboutUs" placeholder="About us">@Model.AboutUs</textarea>
            </div>
        </div>
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><label>Address</label></p>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="Address" placeholder="Address" value="@Model.Address">
            </div>
        </div>
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><label>Website</label></p>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="WebSite" placeholder="Website" value="@Model.WebSite">
            </div>
        </div>
        <div class="form-group">
            <p class="col-md-2 control-label text-muted"><label>Business sectors</label></p>
            <span class="text-muted" style="margin-top: 6px; display: inline-block; padding-left: 15px;"><small><em>(Choose up to 3 sectors that apply to your company)</em></small></span>
            <div class="col-md-10" style="margin-top: 10px;">
                <select id="BusinessSectors" multiple>
                    @{
        IEnumerable<string> ids = Model.BusinessSectors.Select(b => b.Value);
        foreach (var item in (IEnumerable<SelectListItem>)TempData["Sectors"])
        {
            if (ids.Contains(item.Value))
            {
                <option value=@item.Value class="selected" style="color:#aaa">@item.Text</option>
            }
            else
            {
                <option value=@item.Value>@item.Text</option>
            }
        }
                    }
                </select>
                <select multiple id="selectedSectors">
                    @foreach (var item in ids)
                    {
                        string text = Model.BusinessSectors.Where(b => b.Value == item).Select(b => b.Text).FirstOrDefault();
                        <option value="@item">
                            @text
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="" class="btn btn-default" style="width: 150px;">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <script>
            $('#selectedSectors option').each(function (index, value) {
                var inp = $('<input>').attr({ 'name': "BusinessSectors", 'value': this.value });
                $(this).append(inp);
            })
        </script>
    }
</div>

