@model PagedList.IPagedList<JobFinder.Web.Models.ApplicationViewModels.ApplicationViewModel>
@{
    ViewBag.Title = "My applications";
}
@if (Model.Count == 0)
{
    <div class="empty-table">No applications found.</div>
}
<div class="default-form">
    <h4>My applications</h4>
    @foreach (var app in Model)
    {
        <div class="well well-sm row" style="margin: 0 20px 10px 20px;">
            <div class="col-md-4">
                @Html.ActionLink(app.JobOfferTitle, "OfferDetails", "PublicOffer", new { area = "", id = app.JobOfferId }, new { @class = "btn btn-link" })
            </div>
            <div class="col-md-2" style="padding-top: 6px;">
                @Html.DisplayFor(m => app.DateUploaded)
            </div>
            <div class="col-md-3">
                <span>File sent: </span>
                @Html.ActionLink(app.FileName, "DownloadFile", "Apply", new { id = app.Id }, new { @class = "btn btn-link" })
            </div>
            <div class="col-md-3" style="padding-top: 6px;">
                <span style="padding-right:10px">Status: </span>
                @if (app.IsApproved == null)
                {
                    <span>Not seen &nbsp;</span>
                    <img src="~/Files/notseen.png" width="30" height="30" />
                }
                else if ((bool)app.IsApproved)
                {
                    <span>Approved</span>
                    <img src="~/Files/active.png" width="20" height="20" />
                }
                else
                {
                    <span>Rejected</span>
                    <img src="~/Files/expired.png" width="20" height="20" />
                }
            </div>
        </div>
    }
</div>
@section pager {
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("MyApplications", new { page }))
}

