@model JobFinder.Web.Models.OfferViewModels.DetailsOfferViewModel
<div class="default-panel panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Offer details</h3>
    </div>
    <div class="panel-body" style="padding-left:50px;font-size:17px;">
        <div class="row">
            <div class="col-md-2">
                <h5>Title:</h5>
            </div>
            <div class="col-md-8">
                <p class="text-muted">@Model.Title</p>
            </div>
            <div class="col-md-offset-10">
                <p class="text-muted">Views: @Model.Views</p>
            </div>
        </div>
		<div class="row">
			<div class="col-md-2">
				<h5>Company:</h5>
			</div>
			<div class="col-md-8">
				<p class="text-muted">@Model.CompanyName</p>
			</div>
			<div class="col-md-offset-10">
				<p class="text-muted">Applications: @Model.ApplicationsCount</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h5>Description:</h5>
			</div>
			<div class="col-md-8">
				<p class="text-muted">@Model.Description</p>
			</div>
		</div>
        <div class="row">
            <div class="col-md-2">
                <h5>Date posted:</h5>
            </div>
            <div class="col-md-8" style="padding-left:25px">
                @Html.DisplayFor(o => o.DateCreated)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h5>Location:</h5>
            </div>
            <div class="col-md-8">
                <p class="text-muted">@Model.Town</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h5>Business sector:</h5>
            </div>
            <div class="col-md-8">
                <p class="text-muted">@Model.BusinessSector</p>
            </div>
        </div>
            <div class="row">
                <div class="col-md-2">
                    <h5>Types of offer:</h5>
                </div>
                <div class="col-md-8 tag-title">
					@if (Model.IsPermanent == null || Model.IsPermanent == true)
					{
						<span class="tag label label-info">Permanent</span>
					}
					
					@if (Model.IsPermanent == null || Model.IsPermanent == false)
					{
						<span class="tag label label-info">Temporary</span>
					}
					
					@if (Model.IsFullTime == null || Model.IsFullTime == true)
					{
						<span class="tag label label-info">Full Time</span>
					}
					
					@if (Model.IsFullTime == null || Model.IsFullTime == false)
					{
						<span class="tag label label-info">Part Time</span>
					}
                </div>
            </div>
    </div>
</div>
