@model JobFinder.Web.Areas.Company.Models.JobOfferViewModels.CreateOfferViewModel
@{
    ViewBag.Title = "Create Offer";
}

<div class="default-form">
    <h4>@ViewBag.Title</h4>
    @using (Html.BeginForm("CreateOffer", "JobOffer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(o => o.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(o => o.Title, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(o => o.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Town</label>
            <div class="col-md-10">
                @Html.DropDownListFor(o => o.TownId, ((IEnumerable<SelectListItem>)TempData["Towns"]), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Business sector</label>
            <div class="col-md-10">
                @Html.DropDownListFor(o => o.BusinessSectorId, ((IEnumerable<SelectListItem>)TempData["BusinessSectors"]), new { @class = "form-control" })
            </div>
        </div>
		<div class="form-group">
            <label class="col-md-2 control-label">Types of offer</label>
			<div class="col-md-2">
				@Html.CheckBoxFor(o => o.IsPermanent)
				@Html.LabelFor(o => o.IsPermanent)
			</div>
			<div class="col-md-6">
				@Html.CheckBoxFor(o => o.IsFullTime)
				@Html.LabelFor(o => o.IsFullTime)
			</div>
			<div class="col-md-2 col-md-offset-2">
				@Html.CheckBoxFor(o => o.IsTemporary)
				@Html.LabelFor(o => o.IsTemporary)
			</div>
			<div class="col-md-2">
				@Html.CheckBoxFor(o => o.IsPartTime)
				@Html.LabelFor(o => o.IsPartTime)
			</div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Create" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

