@model PagedList.IPagedList<JobFinder.Web.Models.OfferViewModels.SearchResultOfferViewModel>
<div class="default-form" style="padding-left:40px">
    <h4>Found offers: @TempData["OffersCount"]</h4>
    <ul class="listOffers">
        @foreach (var offer in Model)
        {
            <li>
                @Html.DisplayFor(m => offer)
            </li>
        }
    </ul>
</div>
@{
    string town = null;
    string word = null;
    int[] sectors = null;
    bool? isFullTime = null;
    bool? isPermanent = null;
    if (TempData["Town"] != null)
    {
        town = TempData["Town"].ToString();
    }
    if (TempData["Word"] != null)
    {
        word = TempData["Word"].ToString();
    }
    if (TempData["Sectors"] != null)
    {
        sectors = (int[])TempData["Sectors"];
    }
    if (TempData["IsFullTime"] != null)
    {
        isFullTime = (bool?)TempData["IsFullTime"];
    }
    if (TempData["IsPermanent"] != null)
    {
        isPermanent = (bool?)TempData["IsPermanent"];
    }
}
@section pager {
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("OfferSearchResults",
        new { page, town, word, sectors, isFullTime, isPermanent }))
}





