@using JobFinder.Web.Helpers

@model IEnumerable<JobFinder.Web.Models.DashboardModels.DashboardViewModel>
@{
	ViewBag.Title = "Dashboard";
}

<div>
	<ul class="nav nav-pills">
		<li id="offersSector" class="active"><a href="#">Offers by sector</a></li>
		<li id="offersTown"><a href="#">Offers by town</a></li>
		<li id="offersType"><a href="#">Offers by type</a></li>
		<li id="offersTopSector"><a href="#">Top sectors</a></li>
		<li id="offersTopCompany"><a href="#">Top employers</a></li>
	</ul>
</div>
<div id="container" style="height: 500px;"></div>

@section Scripts {
	@Scripts.Render("~/bundles/highcharts")

	<script>
		function offersBySector(data) {
			Highcharts.chart('container', {
				lang: {
					noData: 'No data to display!'
				},
				chart: {
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false,
					type: 'pie'
				},
				title: {
					text: 'Job offers by sectors'
				},
				credits: {
					enabled: false
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							format: '<b>{point.name}</b>: {point.percentage:.1f} %',
							style: {
								color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
							}
						}
					}
				},
				series: [{
					name: 'Sector',
					colorByPoint: true,
					data: data
				}]
			});
		}

		function offersByTown(data) {
			Highcharts.chart('container', {
				lang: {
					noData: 'No data to display!'
				},
				chart: {
					type: 'bar'
				},
				title: {
					text: 'Job offers by towns'
				},
				subtitle: {
					useHTML: true,
					text: 'Source: <a target="_blank" href="http://www.nsi.bg/en/content/6431/employees-under-labour-contract-%E2%80%93-total-statistical-regions-district">National statistical institute</a>'
				},
				xAxis: {
					categories: data.categories,
					title: {
						text: 'Towns'
					}
				},
				yAxis: {
					min: 0,
					title: {
						text: 'Job offers',
						align: 'high'
					},
					labels: {
						overflow: 'justify'
					}
				},
				plotOptions: {
					bar: {
						dataLabels: {
							enabled: true
						}
					}
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'top',
					x: -80,
					y: 0,
					floating: true,
					borderWidth: 1,
					backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
					shadow: true
				},
				credits: {
					enabled: false
				},
				series: data.series
			});
		}

		function offersByType(data) {
			Highcharts.chart('container', {
				lang: {
					noData: 'No data to display!'
				},
				chart: {
					type: 'column'
				},
				title: {
					text: 'Job offers by types'
				},
				xAxis: {
					labels: {
						enabled: false
					}
				},
				yAxis: {
					min: 0,
					title: {
						text: 'Number of offers'
					}
				},
				tooltip: {
					headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
					pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
						'<td style="padding:0"><b>{point.y}</b></td></tr>',
					footerFormat: '</table>',
					shared: true,
					useHTML: true
				},
				plotOptions: {
					column: {
						pointPadding: 0.2,
						borderWidth: 0
					}
				},
				credits: {
					enabled: false
				},
				series: data
			});
		}

		function offersByTopSector(data) {
			var series = data.map(function (element) {
				element.marker = {
					symbol: 'diamond'
				};

				return element;
			});

			Highcharts.chart('container', {
				lang: {
					noData: 'No data to display!'
				},
				chart: {
					type: 'spline'
				},
				title: {
					text: 'Top 5 Monthly Offers Count by Business Sectors - 2017'
				},
				subtitle: {
					text: 'Source: nsi.bg'
				},
				xAxis: {
					categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
						'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
				},
				yAxis: {
					title: {
						text: 'Offers count'
					}
				},
				tooltip: {
					crosshairs: true,
					shared: true
				},
				plotOptions: {
					spline: {
						marker: {
							radius: 4,
							lineColor: '#666666',
							lineWidth: 1
						}
					}
				},
				credits: {
					enabled: false
				},
				series: series
			});
		}

		function offersByTopCompany(data) {
			Highcharts.chart('container', {
				lang: {
					noData: 'No data to display!'
				},
				chart: {
					type: 'column'
				},
				title: {
					text: 'Top 10 employers per 2017'
				},
				xAxis: {
					type: 'category',
					labels: {
						rotation: -45,
						style: {
							fontSize: '13px',
							fontFamily: 'Verdana, sans-serif'
						}
					}
				},
				yAxis: {
					min: 0,
					title: {
						text: 'Number of offers'
					}
				},
				legend: {
					enabled: false
				},
				tooltip: {
					pointFormat: 'Offers count in 2017: <b>{point.y}</b>'
				},
				credits: {
					enabled: false
				},
				series: [{
					name: 'Offers count',
					data: data,
					dataLabels: {
						enabled: true,
						rotation: -90,
						color: '#FFFFFF',
						align: 'right',
						format: '{point.y}',
						y: 10,
						style: {
							fontSize: '13px',
							fontFamily: 'Verdana, sans-serif'
						}
					}
				}]
			});
		}

		function changeActiveElement(element) {
			$('.nav-pills > li.active').removeClass('active');
			element.addClass('active');
		}

		function changeContainerHeight(height) {
			$('#container').height(height);
		}

		function getOffersSector(element, height) {
			$.post('@Url.Action("OffersBySector", "Dashboard")',
                function (data) {
                	changeActiveElement(element);
                	changeContainerHeight(height);
                	offersBySector(JSON.parse(data));
                });
		}

		function getOffersTown(element, height) {
			$.post('@Url.Action("OffersByTown", "Dashboard")',
                function (data) {
                	changeActiveElement(element);
                	changeContainerHeight(height);
                	offersByTown(JSON.parse(data));
                });
		}

		function getOffersType(element, height) {
			$.post('@Url.Action("OffersByType", "Dashboard")',
                function (data) {
                	changeActiveElement(element);
                	changeContainerHeight(height);
                	offersByType(JSON.parse(data));
                });
		}

		function getOffersTopSector(element, height) {
			$.post('@Url.Action("OffersByTopSector", "Dashboard")',
                function (data) {
                	changeActiveElement(element);
                	changeContainerHeight(height);
                	offersByTopSector(JSON.parse(data));
                });
		}

		function getOffersTopCompany(element, height) {
			$.post('@Url.Action("OffersByTopCompany", "Dashboard")',
                function (data) {
                	changeActiveElement(element);
                	changeContainerHeight(height);
                	offersByTopCompany(JSON.parse(data));
                });
		}

		$('#offersSector').click(function () {
			getOffersSector($(this), 500);
		});

		$('#offersTown').click(function () {
			getOffersTown($(this), 2000);
		});

		$('#offersType').click(function () {
			getOffersType($(this), 400);
		});

		$('#offersTopSector').click(function () {
			getOffersTopSector($(this), 500);
		});

		$('#offersTopCompany').click(function () {
			getOffersTopCompany($(this), 400);
		});

		var data = util.toJS(@(Html.ToJson(Model)));
		offersBySector(data);
	</script>
}
